.mycontainer {
    width: 80%;
    border: 1px solid black;
    border-radius: 10px;
    margin: auto;
    /* height: 88vh; */
    margin-top: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: ghostwhite;
}

.formContainer {
    /* margin: 60px auto; */
    width: 60%;
    height: 70%;
    /* border: 1px solid black; */
    /* margin-top: 40px;
    margin-bottom: 30px; */
    margin: 30px auto;
}

form {
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
    /* justify-content: flex-start; */
    /* align-items: center; */
    /* align-content: flex-start; */
    row-gap: 30px;
    column-gap: 30px;
}

.updateLink {
    text-decoration: none;
}

.mybtn:hover .updateLink {
    color: white;
}

input::placeholder {
    text-align: center;
    font-style: italic;
}

.fakemsg {
    text-align:center;
}