<!DOCTYPE html>
<html lang="en">

<head>
    {{> meta}}
    <title>Add Product</title>
    <link rel="stylesheet" href="/styles/navbar.css">
    {{!--
    <link rel="stylesheet" href="/styles/admin.css"> --}}
    {{!--
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script> --}}
</head>

<body>
    {{> navbar isAdmin=isAdmin}}

    <div class="container">
        <div class="msg">{{msg}}</div>

        {{> updateProduct product=product}}

    </div>

    {{!--
    <script src="/js/admin/deleteProduct.js"></script> --}}
    <script src="https://kit.fontawesome.com/24fc2554cd.js" crossorigin="anonymous"></script>
</body>

</html>