<div class="product">
    <form action="/admin/update-product?_method=PUT" class="updateProduct" method="POST">
        <input type="text" class="name" name="name" value="{{product.name}}"><br>
        Upload Image: <input type="file" class="image" name="image"><br>
        <input type="text" class="price" name="price" value="{{product.price}}"><br>
        <textarea type="text" class="description" name="description" value="{{product.description}}">
            </textarea><br>
        <input type="hidden" name="imageUrl" value="{{product.imageUrl}}">

        <button type="submit" class="submitBtn">Update Product</button>
    </form>
</div>