<!DOCTYPE html>
<html lang="en">

<head>
    {{> meta}}
    <title>Add Product</title>
    <link rel="stylesheet" href="/styles/navbar.css">
    <link rel="stylesheet" href="/styles/admin/addproduct.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
</head>

<body>
    {{> navbar isAdmin=isAdmin}}

    <div class="container">
        <div class="msg">{{msg}}</div>

        <form action="/admin/add-product" class="addProduct" method="POST" enctype="multipart/form-data">
            <input type="text" class="name" placeholder="Enter Name" name="name"><br>
            Upload Image: <input type="file" class="image" name="image"><br>
            <input type="text" class="price" placeholder="Enter Price" name="price"><br>
            <textarea type="text" class="description" name="description">....Enter Description
            </textarea><br>

            <button type="submit" class="submitBtn">Add Product</button>
        </form>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
        crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/24fc2554cd.js" crossorigin="anonymous"></script>
</body>

</html>