* {
    margin: 0;
    padding: 0;
}

.productsList {
    display: flex;
    justify-content: center;
    /* height: 35%; */
    margin-top: 40px;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.productItem {
    padding: 5px;
    margin: 10px;
    border-radius: 10px;
    border: 0.5px solid slategray;
    padding: 10px;
    width: 24%;
    height: 400px;
    box-shadow: 5px 5px 5px slategray;
    transition: 2s ease-in-out;
    background-color: white;
}

.mycontainer {
    width: 80%;
    border: 1px solid black;
    border-radius: 10px;
    margin: auto;
    /* height: 88vh; */
    margin-top: 6px;
    background-color:ghostwhite;
}

.updateLink {
    text-decoration: none;
}

.name {
    font-style: italic;
}

.price {
    font-style: oblique;
    font-size: small;
    font-weight: 600;
}

.description {
    font-size: small;
    font-weight: 100;
    overflow-y: scroll;
    height: 50px;
    text-overflow: clip;
}

.productTransition {
    transform: scale(0.1);
}

.elseimg {
    height: 500px;
    /* width: 500px; */
}