* {
    margin: 0;
    padding: 0;
}

.productsList {
    display: flex;
    justify-content: center;
    /* height: 35%; */
    margin-top: 40px;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.productItem {
    padding: 5px;
    margin: 10px;
    border-radius: 10px;
    border: 2px solid black;
    padding: 10px;
    width:24%;
    height:400px;
}

.mycontainer {
    width: 80%;
    border: 1px solid black;
    border-radius: 10px;
    margin: auto;
    /* height: 88vh; */
    margin-top: 6px;
}



