<!DOCTYPE html>
<html lang="en">

<head>
    {{> meta}}
    <title>Add Product</title>
    <link rel="stylesheet" href="/styles/navbar.css">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" href="/styles/products/products.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
</head>

<body>
    {{> navbar isAdmin=isAdmin}}
    {{> addToCartSideView cartCount=cartCount}}

    <div class="container">
        <div class="msg">{{msg}}</div>

        {{> shopProducts products=products}}

        <div class="pagination">
            <a href="/shop/products-list?limit=3&offset=0">1</a>
            <a href="/shop/products-list?limit=3&offset=3">2</a>
            <a href="/shop/products-list?limit=3&offset=6">3</a>
            <a href="/shop/products-list?limit=3&offset=9">4</a>
        </div>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
            crossorigin="anonymous"></script>
        <script src="/js/addToCart.js"></script>
    </div>
</body>

</html>