* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    background-image: url('https://images.unsplash.com/photo-1432821596592-e2c18b78144f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=870&q=80');
    background-size: 100vw 100vh;
}

.loginContainer {
    /* border: 1px solid black; */
    width: 40%;
    height: 200px;
    /* background-color: white; */
    margin: 200px auto;
    margin-left: 550px;
    position: relative;
    top: 40px;
    right: 140px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    backdrop-filter: blur(10px);
}

h1 {
    /* color: whitesmoke; */
    margin-left: 60px;
}

.inp {
    width: 70%;
    height: 30px;
    margin: 10px;
    border-radius: 4px;
    margin-right: 70px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
    border-color: white;
}

.inp:focus {
    border: 2px solid blue;
}

.inp::placeholder {
    text-align: center;
}

.mybtn {
    margin-left: 10px;
    /* height: 40px;
    width: 60px; */
}

.msg {
    color: white;
}

h6 {
    margin: 10px;
    position: relative;
    top: 10px;
    /* left: 60px; */
}

.link2 {
    text-decoration: none;
    color: white;
}

.link2:visited {
    /* text-decoration: none; */
    color: blue;
}