* {
    margin: 0;
    padding: 0;
}

.navbar {
    border: 1px solid black;
    /* border-top: 6px solid black; */
    /* box-shadow: 3px 3px 10px black; */
    border-color: azure;
    padding: 10px;
    position: fixed;
    top: 0;
    left: 0;
    width: 80%;
    z-index: 2;
    margin: auto;
    background-color: lightslategray;
    border-radius: 6px;
}

.navItem {
    padding: 5px;
    font-size: 17px;
    margin: 5px;
    text-decoration: none;
    font-style: italic;
}

.navItem:link,
.navItem:visited {
    color: white;
    text-decoration: none;
}

.navItem:hover {
    color:aquamarine;
}